
body {
	background-image: url("../images/giphy.png");
}

.jumbotron {
    background-color: bisque;
    background-image: url("../images/soccer.jpg");

}
.btn {
	margin-right: 10px;
}

p {
    color: wheat;
}

form, input {
	margin-right: 10px;
}

#soccer-input {
	margin-top: 20px;
	margin-bottom: 10px;
}

img {
	margin: 10px;
}

#text {
	color: wheat;
}

#panelBody {
	background-color: royalblue;
	border: 0;
	box-shadow: none;
	border-bottom: solid #ff4136 5px;
}
#rating {
	margin: 10px;
	color: #ff4136;
}

#playersView {
    /* position: relative; */
    float: left;
}